# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-electron/
build/
*.log

# Environment & Local state
.env
.env.local
.env.*.local
.firebase/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Scratch & Temporary outputs
scratch/
*_preview.png
